<%= form_for(@deliverer) do |f| %>
  <% if @deliverer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverer.errors.count, "error") %> prohibited this deliverer from being saved:</h2>

      <ul>
      <% @deliverer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :pwdHash %><br />
    <%= f.text_field :pwdHash %>
  </div>
  <div class="field">
    <%= f.label :refID %><br />
    <%= f.number_field :refID %>
  </div>
  <div class="field">
    <%= f.label :creditcard %><br />
    <%= f.number_field :creditcard %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
